# Build directories
/dist
/build
dist/
build/
**/dist/
**/build/

# Supabase
/supabase/snippets/

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Development Environment Variables
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg

# PyQt
*.ui.autosave

# IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
